<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Call</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>
<body>
    <header>
        <h1>Customer Call System</h1>
    </header>
    <main>
        <section>
            <h2>Welcome to the Customer Call System</h2>
            <p>Please wait for your turn to be called.</p>
                <p>Now calling: {{ reception.reception_number }} / {{seat.table_number}}</p>
                <p></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Procon Group E</p>
    </footer>
    <script>
                // ページ全体クリック時の挙動
            document.body.addEventListener('click', function () {
            window.location.href = "{% url 'reception_system:index' %}";
        });
    </script>
</body>
</html>