{% extends 'base_app/base.html'%}
{% load static %}

{% block title %}
<head>
    <link rel="stylesheet" href="{% static 'css/reception_styles.scss' %}">
</head>
{% endblock %}

{% block contents%}
<body>
    <div class="header">
        <h1>ヘッダー</h1>
    </div>
    <div class="content">
        <div class="table-card">
            <div class="table-info">
                <div class="table-status">空席</div>
                <div class="table-number">テーブル1</div>
            </div>
            <div class="table-details">
                <div class="detail-item">窓側</div>
                <div class="detail-item">4人席</div>
                <div class="detail-item">座席連結</div>
            </div>
        </div>
        
    </div>
    <!-- <style>
        body{
            width:450px;
            margin: 0 auto;
        }
    </style> -->
    <div class="footer">
        <a href="/">戻る</a>
        <a href="/complate">次へ</a>
    </div>
</body>
{% endblock %}