{% extends 'base_app/base.html' %}
{% load static %}
 
{% block contents %}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/reception_num.scss' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Yuji+Syuku&display=swap" rel="stylesheet">
<title>インターフェース</title>
</head>
<body>
    <!-- container の上に配置 -->
    <h1>人数を入力してください</h1>
    <div class="container">
        <div class="image-box">
            <div id="display" class="display-numbers"></div>
            <div class="person-label">人</div>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <div class="keypad">
                    <button class="button" type="button" onclick="addToDisplay('1')">1</button>
                    <button class="button" type="button" onclick="addToDisplay('2')">2</button>
                    <button class="button" type="button" onclick="addToDisplay('3')">3</button>
                    <button class="button" type="button" onclick="addToDisplay('4')">4</button>
                    <button class="button" type="button" onclick="addToDisplay('5')">5</button>
                    <button class="button" type="button" onclick="addToDisplay('6')">6</button>
                    <button class="button" type="button" onclick="addToDisplay('7')">7</button>
                    <button class="button" type="button" onclick="addToDisplay('8')">8</button>
                    <button class="button" type="button" onclick="addToDisplay('9')">9</button>
                    <button class="over_button" type="button">10人以上</button>
                </div>
                <div style="display: flex; margin-top: 10px;">
                    <input type="hidden" name="reception_count" id="hidden-input">
                    <button class="action-button submit-button" type="submit" onclick="submitForm()">決定</button>
                    <button class="action-button cancel-button" type="button" style="margin-left: 10px;" onclick="clearDisplay()">取消</button>
                </div>
            </form>
        </div>
        <div class=message id="message" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.7); color:white; display:flex; flex-direction:column; justify-content:center; align-items:center; font-size:2em;">
            1桁以上の数字は選べません
            <button onclick="reloadPage()" style="margin-top: 20px; padding: 10px 20px; font-size: 1em;">OK</button>
        </div>
        <div class=message_2 id="message_2" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.7); color:white; display:flex; flex-direction:column; justify-content:center; align-items:center; font-size:2em;">
            人数を指定してください
            <button onclick="reloadPage()" style="margin-top: 20px; padding: 10px 20px; font-size: 1em;">OK</button>
        </div>
        <div class=message_3 id="message_3" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.7); color:white; display:flex; flex-direction:column; justify-content:center; align-items:center; font-size:2em;">
            店員をお呼びします。少々お待ちください。
            <button onclick="reloadPage()" style="margin-top: 20px; padding: 10px 20px; font-size: 1em;">OK</button>
        </div>
        <script>
            function reloadPage() {
                location.reload();
            }

            document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("message").style.display = "none";
            });
            document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("message_2").style.display = "none";
            });
            document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("message_3").style.display = "none";
            });
            document.querySelector('.over_button').addEventListener('mousedown', function() {
                document.getElementById("message_3").style.display = "flex";
            });

            document.querySelector('.over_button').addEventListener('mouseup', function() {
                document.body.style.backgroundColor = ''; // 元に戻す（必要に応じて色を指定）
            });

            const display = document.getElementById('display');
            const hiddenInput = document.getElementById('hidden-input');
        
            function addToDisplay(value) {
                if (display.innerText.length >= 1) {
                    document.getElementById("message").style.display = "flex";
                } else {
                    display.innerText += value;
                    hiddenInput.value = display.innerText; // hidden フィールドに値を設定
                }
            }
    
            function submitForm() {
                hiddenInput.value = display.innerText;
                if(display.innerText === ''){
                    document.getElementById("message_2").style.display = "flex";
                    event.preventDefault();
                    return false;
                }
            }
    
            function clearDisplay() {
                display.innerText = '';
                hiddenInput.value = '';
            }
        </script>
</body>
</html>
{% endblock %}