{% extends 'base_app/base.html'%}
{% load static %}

{% block title %}
<title>座席状況確認</title>
<head>
    <link rel="stylesheet" href="{% static 'css/employee_styles.css' %}">
</head>
{% endblock %}

{% block contents%}
<body>
    <div class="header">
        <h1>座席状況確認</h1>
    </div>
    <div class="content">
        {% for table in seats %}
            <div class="table-card">
                <div class="table-status">{{ table.status }}</div>
                <div class="table-number">{{ table.table_number }}</div>
                <div class="table-details">
                    <div class="detail-item">{{ table.position }}</div>
                    <div class="detail-item">{{ table.seats }}</div>
                    <div class="detail-item">{{ table.connection }}</div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="footer">
        <a href="{% url 'employee:employee_item' %}">戻る</a>
    </div>
</body>
{% endblock %}
