* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* ビューポートの高さに合わせる */
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

.header, .footer {
    background-color: #f1f1f1; /* ヘッダーとフッターの背景色 */
    padding: 10px;
    text-align: center;
}

.content {
    flex: 1; /* 残りのスペースを埋める */
    overflow-y: auto; /* 縦方向のスクロールを許可 */
    padding: 10px;
    background-color: #fff; /* コンテンツエリアの背景色 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    max-width: 450px;
    height: 90vh;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.header, .footer {
    text-align: center;
    padding: 10px;
    background-color: #e9e9e9;
    font-size: 18px;
}

.content {
    padding: 10px;
    overflow-y: auto; /* スクロール可能にする */
    height: 100%;
}

.table-card {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.table-status {
    font-size: 24px;
    font-weight: bold;
    color: #1e73be;
    text-align: center;
    margin-bottom: 10px;
}

.table-number {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
}

.table-details {
    display: flex;
    justify-content: space-around;
}

.detail-item {
    font-size: 16px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 5px 0; /* 上下に5pxの余白を設定 */
}


.table-info {
    display: flex;
    gap: 10px; /* 空席とテーブル番号の間のスペースを調整 */
    align-items: center; /* 縦方向に中央揃え */
    
}
/* 追加 */


.container {
    text-align: center;
    width: 400px; /* 固定幅で指定 */
    max-width: 100%; /* 必要に応じて画面幅に収まるようにする */
    height: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto; /* 中央揃え */
}


.title {
    font-size: 56px;
    font-weight: bold;
    margin: auto 0;
    height: 300px;
}

.touch-text {
    color: #aaa;
    font-size: 18px;
    margin-bottom: auto;
    height: 50px;
}

.language-button {
    font-size: 14px;
    color: #888;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-top: 20px;
}
