/* 枠組みを消す */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 「竹村食堂」をセンタリング */
.header-title {
    text-align: center;
    font-size: 5em;
    margin-top: 20px;
}

/* 「Language」を右下に配置 */
.language-selector {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 3em;
}