{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}
<title>座席付加情報登録</title>
{% endblock %}

{% block contents %}

    <

    <h3>ジャンル</h3>
    <div>
        <input type="checkbox" id="people" name="people"/>
        <label for="people">座席人数</label>
    </div>
    <div>
        <input type="checkbox" id="position" name="position"/>
        <label for="position">座席位置</label>
    </div>
    <div>
        <input type="checkbox" id="around" name="around"/>
        <label for="around">座席周り</label>
    </div>
    <div>
        <input type="checkbox" id="others" name="others"/>
        <label for="others">その他</label>
    </div>

{% endblock %}