{% extends 'base_app/base.html' %}
{% load static %}
 
{% block title %}
<title>座席状況確認</title>
<head>
    <link rel="stylesheet" href="{% static 'css/employee_styles.scss' %}">
    <style>
        .header h1 {
            text-align: center; /* タイトルを中央揃え */
        }
    </style>
</head>
{% endblock %}
 
{% block contents %}
<body>
    <div class="header">
        <h1>座席状況確認</h1>
    </div>
    <div class="content">
        {% for table in tables %}
            <div class="table-item">
                <p><strong>テーブル{{ forloop.counter }}</strong></p>
                <p><strong>使用状況:</strong> {{ table.table_resevation }}</p>
                <!-- 情報詳細ボタン -->
                <a href="{% url 'employee:employee_table_detail' table.id %}">
                    <button>情報詳細</button>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="footer">
        <a href="{% url 'employee:employee_item' %}">戻る</a>
    </div>
</body>
{% endblock %}