{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}
<head>
    <link rel="stylesheet" href="{% static 'css/employee_styles.scss' %}">
    <title>従業員</title>
</head>
{% endblock %}


{% block contents %}
<div class="container">
    <div class="title">従業員用</div>
    <div class="touch-text">画面をタッチしてください</div></a>
</div>

<script>
    // body全体をクリックしたら遷移するようにする
    document.body.addEventListener('click', function() {
        window.location.href = "{% url 'employee:employee_item' %}";  // 'next_page'は遷移先のURLパターン名
    });
</script>

{% endblock %}