{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}
    <title>新規座席登録</title>
{% endblock %}

{% block contents %}

    <div>
        <input type="checkbox" id="counter" name="counter" />
        <label for="counter">カウンター席</label>
    </div>
    <div>
        <input type="checkbox" id="table" name="table" />
        <label for="table">テーブル席</label>
    </div>

    <div>
        <input type="checkbox" id="passage" name="passage" />
        <label for="passage">通路側</label>
    </div>
    <div>
        <input type="checkbox" id="window" name="window" />
        <label for="window">窓側</label>
    </div>

{% endblock %}